<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home_app">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload_image">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>UPLOAD</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search_page">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>SEARCH</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="armario">
    <ion-icon name="albums-outline"></ion-icon>
    <ion-label>WARDROBE</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
