<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/logo_sneakers.png" alt="logo_dawafoodie" />
  </ion-card>
    <div class="ion-padding">
      <ion-input width="200px" [(ngModel)]="textUsername" (keyup)="email()" type="email" placeholder="Email"></ion-input>
      <ion-input [(ngModel)]="textPassword" (keyup)="password()" [type]="passwordTypeInput"  placeholder="Password"></ion-input>
      <ion-avatar><img id="imagen" src="../../assets/icon/eye_icon.png" (click)="togglepassword()"></ion-avatar>
      <ion-button id="login" (click)="boton()" expand="block">LOGIN</ion-button>
      <ion-button expand="block" color="primary" (click)="llamar_login()">
        Login with
        <ion-icon id="logoface" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-text color="dark">
        <p (click)="onclickcreateaccount()">{{forgot}}</p>
        <p class="message">{{textMessage}}</p>
      </ion-text>
</div>
  
</ion-content>

  

