ion-content ion-toolbar {
  --background: translucent;
}

input {
  text-justify: auto;
}

p.message {
  color: red;
}

img {
  margin-left: 80px;
}

ion-avatar {
  width: 25px;
  height: 25px;
}

#login {
  margin-top: 20px;
}
