<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
        <ion-back-button text="Back" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <img src="../../assets/logo_sneakers.png" />
  <div id="registro">
  <ion-input [(ngModel)]="textEmail" (keyup)="email(e)" id="mail"  type="email" class="colores" placeholder="Email"></ion-input>
  </div>
  <div>
  <ion-input [(ngModel)]="textPassword" (keyup)="password()" id="pass" class="colores" placeholder="Password" type="password"></ion-input>
  </div>
  <div>
  <ion-input [(ngModel)]="textUser" (keyup)="user()" id="user"  type="text" class="colores" placeholder="Username"></ion-input>
  </div>
  <ion-button (click)="saveregister()" expand="block">CREATE USER</ion-button>
  
</ion-card>
</ion-content>
