<ion-header>
  <ion-toolbar>
    <ion-title>PROFILE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <img src={{img.url}} /> -->
      <ion-card-title>User: {{user}}</ion-card-title><br />
      <ion-card-subtitle>Contact Mail: {{mail}}</ion-card-subtitle><br />
      <section>
        <ion-button (click)="makefollow(id)">Follow</ion-button>
        <ion-button (click)="openmessage()">Message</ion-button>
        <ion-button (click)="openwardrobe(id)">Wardrobe</ion-button>
      </section>
    </ion-card-header>


  <ion-grid fixed>
    <ion-row >
      <ion-col size="4" (click)="ampliarfoto(item)" *ngFor="let item of imagenes"><ion-img src="{{item.img.url}}"></ion-img></ion-col>
    </ion-row>
  </ion-grid>

</ion-card>

</ion-content>
