<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="Back" defaultHref=""></ion-back-button>
  </ion-buttons>
    <ion-title>PHOTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{pie_de_foto}}</ion-card-title><br />
      <img src={{img.url}} />
    </ion-card-header>
  </ion-card>
</ion-content>
