<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode="ios">WARDROBE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    WARDROBE SNEAKERS
  </ion-list-header>
    <ion-list *ngFor="let item of sneaker">   
      <ion-item (click)="ampliar_sneaker(item)">
        <img slot="start" *ngIf="item.img_sneaker.url!=''" src={{item.img_sneaker.url}} >
        <img slot="start" *ngIf="item.img_sneaker.url==''" src="../../assets/logo_sneakers.png">
        <ion-label>
          <h2>{{item.nombre}}</h2>
          <h3>{{item.marca}}</h3>
          <p>{{item.modelo}}</p>
        </ion-label>
      </ion-item>

      <!-- <ion-item-options>
        <ion-item-option color="danger" (click)="deleterestaurant(item)" >
          DELETE
        </ion-item-option>

        <ion-item-option color="primary" (click)="edit(item)">
          EDIT
        </ion-item-option>

      </ion-item-options> -->
    
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="OnClickAddSneaker()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
