<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let follower of listFollowers">
    <ion-card-header>
      <ion-card-title>{{follower.user}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let image of listImages">
      <div *ngIf="image.id_usuario==follower.id"><ion-img src={{image.img.url}}></ion-img><p>{{image.piedefoto}}</p></div>
    </ion-card-content>
  </ion-card>
</ion-content>
