<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs-main/home_app" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">UPLOAD IMAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
      <ion-thumbnail (click)="OnClickImg()" class="img">
        <img class="img2" *ngIf="img.url==''" src="../../assets/logo_sneakers.png">
        <img class="img2" *ngIf="img.url!=''" src={{img.url}}>
    </ion-thumbnail>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Enter a caption" mode="ios" maxlength="150" [(ngModel)]="caption"></ion-textarea>
    </ion-item>
 
  <ion-button (click)="onClickAddImage()">UPLOAD IMAGE</ion-button>


</ion-content>