<ion-header translucent>
  <ion-toolbar>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Search Users" type="text" (ionChange)="handleInput()" [debounce]="250" [(ngModel)]="buscar"></ion-searchbar>
</ion-header>



<ion-content fullscreen>
  <ion-list id="lista">
    <ion-item (click)="enter_usuario(item)" *ngFor="let item of followers">{{item.user}}</ion-item>
  </ion-list>
</ion-content>